#gallery{
    width: 640px;
    margin: 20px auto;
    text-align: center;
}

#gallery .photos img{
     display: none;
     height: 480px;
     width: 640px;
}

#gallery .photos img:first-child{
    display: block;
}

.buttons {
    margin-top: 20px;
  
}                
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}