div.accordion{
    margin: 10px;
    border: 1px solid black;
    position: relative;
} 
div.title{
    position: relative; 
    z-index: 10; 
    background:whitesmoke;  
    cursor: pointer; 
  padding: 15px 20px;
  font-size: 18px;
  transition: background-color 0.4s linear;
 } 
 div.title:hover{
     background-color: rgb(11, 184, 147);
 }

div.body.hidden{
 display: none;
} 
div.body{
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.2s;
    border: 1px solid whitesmoke
}
  div.title + div.body.active{
      display: block;
      transition: ease-in 0.3s;
  }
  div.body.active{
      display: block;
  }
  body {
     width: 80%;margin: 1em auto;
  }